---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<MainLayout>
  <div class="px-4 max-w-5xl mx-auto py-8">
    <h1 class="text-3xl font-bold mb-2">Project Highlights</h1>
    <ul class="italic flex gap-6 mb-1">
      <li><a href="/projects">All</a></li>
      <li><a href="/projects">Multi-Family</a></li>
      <li><a href="/projects">Industrial</a></li>
      <li><a href="/projects">Hospitality</a></li>
    </ul>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      <ProjectCard />
      <ProjectCard />
      <ProjectCard />
    </div>
  </div>
</MainLayout>
