---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <br />
  <br />
  <br />
  <br />
  <br />
  <h1 class="text-center text-8xl">We Value</h1>
  <br />
  <h1 class="text-center text-6xl">Giving Back to our Community</h1>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="container mx-auto p-8">
    <div class="flex flex-row flex-wrap -mx-2">
      <div class="w-full md:w-1/2 h-64 md:h-auto mb-4 px-2">
        <a
          class="block w-full h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          style="background-image: url('../images/GivingBack/intermountain-removebg-preview.png');"
        >
        </a>
      </div>
      <div class="w-full md:w-1/2 mb-4 px-2">
        <div class="flex flex-col sm:flex-row md:flex-col -mx-2">
          <div
            class="w-full sm:w-1/2 md:w-full h-48 xl:h-64 mb-4 sm:mb-0 md:mb-4 px-2"
          >
            <a
              class="block w-full h-5/6 bg-grey-dark bg-no-repeat bg-center bg-cover"
              href="#"
              style="background-image: url('../images/GivingBack/Interweave_logo_horiz_White_05.png');"
            >
            </a>
          </div>
          <div class="w-full sm:w-1/2 md:w-full h-48 xl:h-64 px-2">
            <a
              class="block w-full h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
              href="#"
              style="background-image: url('../images/GivingBack/AforCE-removebg-preview.png');"
            >
            </a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/3 h-32 md:h-48 mb-4 sm:mb-0 px-2">
        <a
          class="block w-full h-5/6 bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          style="background-image: url('../images/GivingBack/bunac_logo-removebg-preview.png');"
        >
        </a>
      </div>
      <div class="w-full sm:w-1/3 h-32 md:h-48 mb-4 sm:mb-0 px-2">
        <a
          class="block w-10/12 h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          style="background-image: url('../images/GivingBack/rising star.png');"
        >
        </a>
      </div>
      <div class="w-full sm:w-1/3 h-32 md:h-48 px-2">
        <a
          class="block w-full h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          title="Link"
          style="background-image: url('../images/GivingBack/DSU.png');"
        >
        </a>
      </div>
    </div>
  </div>

  <!-- second grid -->
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="container mx-auto p-8">
    <div class="flex flex-row flex-wrap -mx-2">
      <div class="w-full md:w-1/2 h-64 md:h-auto mb-4 px-2">
        <a
          class="block w-full h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          style="background-image: url('../images/GivingBack/Rotary-removebg-preview.png');"
        >
        </a>
      </div>
      <div class="w-full md:w-1/2 mb-4 px-2">
        <div class="flex flex-col sm:flex-row md:flex-col -mx-2">
          <div
            class="w-full sm:w-1/2 md:w-full h-48 xl:h-64 mb-4 sm:mb-0 md:mb-4 px-2"
          >
            <a
              class="block w-full h-36 bg-grey-dark bg-no-repeat bg-center bg-cover"
              href="#"
              style="background-image: url('../images/GivingBack/wasatch_community-removebg-preview.png');"
            >
            </a>
          </div>
          <div class="w-full sm:w-1/2 md:w-full h-48 xl:h-64 px-2">
            <a
              class="block w-full h-52 bg-grey-dark bg-no-repeat bg-center bg-cover"
              href="#"
              style="background-image: url('../images/GivingBack/Rollins-removebg-preview.png');"
            >
            </a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/3 h-32 md:h-48 mb-4 sm:mb-0 px-2">
        <a
          class="block w-full h-5/6 bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          style="background-image: url('../images/GivingBack/bunac_logo-removebg-preview.png');"
        >
        </a>
      </div>
      <div class="w-full sm:w-1/3 h-32 md:h-48 mb-4 sm:mb-0 px-2">
        <a
          class="block w-6/12 h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          style="background-image: url('../images/GivingBack/wasatch-removebg-preview.png');"
        >
        </a>
      </div>
      <div class="w-full sm:w-1/3 h-32 md:h-48 px-2">
        <a
          class="block w-full h-full bg-grey-dark bg-no-repeat bg-center bg-cover"
          href="#"
          title="Link"
          style="background-image: url('../images/GivingBack/DSU.png');"
        >
        </a>
      </div>
    </div>
  </div>
</MainLayout>
