---
import MainLayout from "../layouts/MainLayout.astro";
import GiveBackLogos from "../components/GiveBackLogos.jsx";
import giveBack from "../data/giveBack.json";
---

<MainLayout>
  <div class="w-full h-4/6 relative">
    <img
      src="https://images.unsplash.com/photo-1524813686514-a57563d77965?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80"
      class="w-full h-full object-cover object-center absolute inset-0 z-10"
    />
    <div
      class="max-w-7xl mx-auto aboslute z-30 inset-0 flex flex-col items-between justify-between w-full h-full py-6 px-6"
    >
      <h1 class="text-5xl font-bold mb-2 text-center z-30">We Value</h1>
      <h1 class="text-5xl font-bold mb-8 text-center z-30">
        Giving Back to Our Community
      </h1>
    </div>
  </div>

  <div class="px-4 max-w-5xl mx-auto py-8">
    <br />
    <br />
    <br />
    <br />
    <div class="grid grid-cols-2 gap-10">
      <div>
        <h1 class="text-2xl mb-2 text-center">
          Add a little blurb about Jim and the ritchie foundation here
        </h1>
      </div>
      <div>
        <h1 class="text-2xl font-bold mb-2 text-center">
          Founder James Ritchie
        </h1>
        <img
          class="object-right"
          src="https://res.cloudinary.com/dgjw3jwe3/image/upload/v1639621154/images/Headshots/James_Ritchie_-_9150_lezddj.jpg"
        />
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-4xl font-bold mb-2 text-center">
      Organizations We have Supported
    </h1>
    <br />
    <br />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      {giveBack.map((logo) => (
        <GiveBackLogos
          title={logo.title}
          image={logo.image}
          info={logo.info}
          client:load
        />
      ))}
    </div>
  </div>
</MainLayout>
