---
import MainLayout from "../layouts/MainLayout.astro";
import TeamCard from "../components/TeamCard.jsx";
import team from "../data/team.json";
---

<MainLayout>
  <div class="px-4 max-w-5xl mx-auto py-8">
    <h1 class="text-5xl font-bold mb-2">About Us</h1>
    <div class="px-10 max-w-7xl mx-auto py-16">
      <h2 class="text-xl">
        The Ritchie Group (TRG) is a second-generation family office, based in
        Salt Lake City, Utah, that has owned and developed real estate for over
        40 years. TRG’s primary focus is on multifamily, self-storage,
        industrial, and hospitality real estate development projects. TRG has a
        development queue of 3400+ multifamily units, 400+ keys of hospitality,
        and 4.4M SF of industrial warehouse at various stages of design and
        development.
      </h2>
      <h2 class="text-xl mt-6">
        The Ritchie Group believes that the act of identifying a property’s
        highest and best use will yield the maximum desired outcome for the
        greatest public and private benefit. Our core philosophy holds that
        great real estate transcends cycles. Because we are long-term holders of
        our assets, the additional investment to make an asset exceptional
        benefits all stakeholders, including the city/county where it will live
        out its economic duration.
      </h2>
    </div>
    <h1 class="text-5xl font-bold mb-2">Meet The Team</h1>
    <br />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
      {team.map((team) => (
        <TeamCard
          name={team.name}
          headshot={team.headshot}
          title={team.title}
          bio={team.bio}
          client:load
        />
      ))}
    </div>
  </div>
</MainLayout>
