---
const { name, headshot, bio } = Astro.props;
---

<div
  class="relative w-full h-96 flex items-end p-6 transition-all duration-300"
>
  <img src={headshot} class="object-cover w-full h-full absolute inset-0" />
  <div
    class="absolute inset-0 bg-gradient-to-t from-gray-800 to-gray-400 mix-blend-multiply hover:bg-sushi transition-all duration-300"
  >
  </div>
  <div class="relative">
    <h1 class="text-3xl font-bold mb-1">{name}</h1>
    <p class="text-gray-300 mb-2">
      {bio}
    </p>
    <a href="#" class="text-white">Continue</a>
  </div>
</div>

//NOTES // i want to put the bio in a small popup window that comes up when the
//image is clicked on
