---
import Header from '../components/Header'
let title = 'My Astro Site';
---

<html lang="en" class="bg-dark-bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
            <title>{title}</title>

            <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}>
    </head>
    <Header client:load />
    <body class="overflow-hidden">
        <slot />
    </body>
    <footer>
        <p>This is the footer</p>
    </footer>
</html>